{{! views/auth/signup.hbs }}

<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <label>
      Username
      <input type="text" name="username" placeholder="ironhacker" required/>
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" required/>
    </label>

    <button type="submit">Login</button>

  </form>

</div>
<div class="flashMessage">
  <h1>

    {{#if flashMessage}}
      {{flashMessage}}
    {{/if}}
     {{#if userInLogin}}

<h1>{{errorMessage}}</h1>

    {{/if}}
  </h1>
</div>